<div id="<%= dom_id star_sign %>">
  <p>
    <strong>Date range:</strong>
    <%= star_sign.date_range %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= star_sign.name %>
  </p>

  <p>
    <strong>Blurb:</strong>
    <%= star_sign.blurb %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= star_sign.image %>
  </p>

  <p>
    <strong>Default compatibility:</strong>
    <%= star_sign.default_compatibility %>
  </p>

  <p>
    <strong>String:</strong>
    <%= star_sign.string %>
  </p>

</div>
